@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @layer base {
    @font-face {
      font-family: 'Long Cang';
      font-weight: 400;
      font-display: swap;
      font-style: normal;
      src: url(~assets/fonts/LongCang-Regular.woff) format("woff");
      src: url(~assets/fonts/LongCang-Regular.woff2) format("woff2");
      src: url(~assets/fonts/LongCang-Regular.ttf) format("truetype");
    }
} */